@page
@model Project_PRN221.Pages.Categories.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/AdminLayout.cshtml";

}

<h1>Create</h1>

<h4>Category</h4>
<hr />
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Add</h2>
        </div>

        <div class="col-3">
            <form action="" method="post">

                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.18/signalr.min.js"></script>

<script type="text/javascript">
    
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/categoryHub")
        .build();

    connection.on("ReceiveCategoryUpdate", function (categoryId, action) {
        alert("Successfully create " + action + ": " + categoryId);
        // Thực hiện hành động cụ thể, ví dụ như cập nhật danh sách sinh viên
    });

    connection.start().catch(function (err) {
        return console.error(err.toString());
    });
</script>