@page
@model Project_PRN221.Pages.Shop.AboutModel
@{
    ViewBag.Title = "Shop Page";
    Layout = "~/Pages/Shared/ShopLayout.cshtml";
}
<body class="goto-here">
    <div class="hero-wrap hero-bread" style="background-image: url('/img/ban-sao-ban-sao-ban-sao-ban-sao-img_7868-8993.jpeg');">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="~/Shop">Trang Chủ</a></span> <span>Về Chúng Tôi</span></p>
                    <h1 class="mb-0 bread">ECONEST</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="ftco-section ftco-no-pt ftco-no-pb py-5">
        <div class="container py-4">
            <div class="row d-flex justify-content-center py-5">
                <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(https://bizweb.dktcdn.net/thumb/grande/100/408/734/products/xo-muop-nguyen-trai-600x600-1-5e2f7ea0c88b400a9b086d0be11a6dfc-master.png?v=1670484863300);">
                    <a href="https://www.youtube.com/watch?v=DRxykjdGS5w" class="icon popup-vimeo d-flex justify-content-center align-items-center">
                        <span class="icon-play"></span>
                    </a>
                </div>
                <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
                    <div class="heading-section-bold mb-4 mt-md-5">
                        <div class="ml-md-0">
                            <h2 class="mb-4">Chào mừng đến với EcoNest</h2>
                        </div>
                    </div>
                    <div class="pb-md-5">
                        <p>Bạn đang tìm kiếm một cách chăm sóc bản thân vừa dịu nhẹ, vừa bảo vệ môi trường? Sản phẩm làm từ xơ mướp tự nhiên của chúng tôi chính là câu trả lời hoàn hảo! Bông tắm xơ mướp và các vật dụng nhà tắm, nhà bếp không chỉ giúp làn da bạn mịn màng, sạch sẽ mà còn góp phần giảm thiểu rác thải nhựa, bảo vệ ngôi nhà chung của chúng ta.</p>
                        <p>Với bông tắm xơ mướp tự nhiên, chúng tôi mang đến cho bạn một trải nghiệm làm sạch da hoàn toàn mới. Chất liệu xơ mướp không chỉ giúp loại bỏ tế bào chết mà còn kích thích tuần hoàn máu, mang lại làn da mịn màng, hồng hào. Hơn nữa, việc sử dụng sản phẩm từ thiên nhiên còn giúp bạn giảm thiểu tác động tiêu cực đến môi trường, góp phần xây dựng một cuộc sống xanh.</p>
                        <p><a href="~/Shop/Product" class="btn btn-primary">Mua Ngay</a></p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/img/bg_3.jpg);">
        <div class="container">
            <div class="row justify-content-center py-5">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="300">0</strong>
                                    <span>Khách hàng hài lòng</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="10">0</strong>
                                    <span>Chất lương</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="10">0</strong>
                                    <span>Đối tác</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="10">0</strong>
                                    <span>Giải thưởng</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section testimony-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <span class="subheading">Phản hồi</span>
                    <h2 class="mb-4">Những phản hồi của khách hàng</h2>
                    <p>Chúng tôi luôn hi vọng đem đến trải nghiệm tốt nhất trong từng sản phẩm</p>
                </div>
            </div>
            <div class="row ftco-animate">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel">
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url('/img/comment/448262288_1535455837319125_1730579060412037674_n.jpg');">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text text-center">
                                    <p class="mb-5 pl-4 line">"Sử dụng bông tắm xơ mướp thật sự rất tuyệt vời! Da mình mềm mại và sạch sẽ hơn rất nhiều, cảm giác an toàn vì sản phẩm hoàn toàn tự nhiên."</p>
                                    <p class="name">Nguyễn Minh Phương</p>

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url('/img/comment/277707808_748858063164398_1966120575471751493_n.jpg');">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text text-center">
                                    <p class="mb-5 pl-4 line">"Tôi rất ấn tượng với độ bền của bông tắm xơ mướp. Dùng nhiều lần mà vẫn giữ nguyên chất lượng, lại rất thân thiện với môi trường."</p>
                                    <p class="name">Lê Anh Tuấn</p>

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url('/img/comment/455066621_1965902550591281_305332582060055174_n.jpg');">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text text-center">
                                    <p class="mb-5 pl-4 line">"Trải nghiệm tắm cùng bông xơ mướp thật sự khác biệt. Da tôi trở nên sạch mịn, không gây kích ứng, rất đáng để thử!"</p>
                                    <p class="name">Hoàng Thị Thanh</p>

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url('/img/comment/54731350_147927209565365_1074648190948474880_n.jpg');">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text text-center">
                                    <p class="mb-5 pl-4 line">"Xơ mướp thật sự là lựa chọn tuyệt vời cho ai muốn vừa chăm sóc da vừa bảo vệ môi trường. Mình hoàn toàn hài lòng!"</p>
                                    <p class="name">Phạm Quang Huy</p>

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url('/img/comment/458986643_3939786749632081_7819878491561257185_n.jpg');">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text text-center">
                                    <p class="mb-5 pl-4 line">"Sản phẩm bông tắm xơ mướp giúp tôi cảm thấy thư giãn và thoải mái sau mỗi lần tắm. Một sản phẩm thân thiện với thiên nhiên và tốt cho sức khỏe."</p>
                                    <p class="name">Đinh Thu Hằng</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row no-gutters ftco-services">
                <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-shipped"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Miên phí vận chuyển</h3>
                            <span>Với những đơn hàng từ 100k</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-diet"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Đóng gói tiện lợi</h3>
                            <span>Sản phẩm sạch đẹp</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-award"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Chất lượng</h3>
                            <span>Sản phẩm tự nhiên</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-customer-service"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Hỗ Trợ</h3>
                            <span>Hỗ Trợ 24/7</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</body>
