@page
@model Project_PRN221.Pages.Shop.ContactModel
@{
	ViewBag.Title = "Shop Page";
	Layout = "~/Pages/Shared/ShopLayout.cshtml";
}
<body class="goto-here">
	<div class="hero-wrap hero-bread" style="background-image: url('/img/ban-sao-ban-sao-ban-sao-ban-sao-img_7868-8993.jpeg');">
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center">
				<div class="col-md-9 ftco-animate text-center">
					<p class="breadcrumbs"><span class="mr-2"><a href="~/Shop">Trang Chủ</a></span> <span>Liên Hệ</span></p>
					<h1 class="mb-0 bread">EcoNest</h1>
				</div>
			</div>
		</div>
	</div>
	<section class="ftco-section contact-section">
		<div class="container">
			<div class="row block-9 justify-content-center">
				<div class="col-md-3 d-flex">
					<div class="info bg-white p-4 w-100">
						<p><span>Facebook:</span></br> <a href="https://www.facebook.com/profile.php?id=61566368013857"> EcoNest</a></p>
					</div>
				</div>
				<div class="col-md-3 d-flex">
					<div class="info bg-white p-4 w-100">
						<p><span>Số Điện Thoại:</span></br> <a href="tel://1234567920">(+84) 961 716 927</a></p>
					</div>
				</div>
				<div class="col-md-3 d-flex">
					<div class="info bg-white p-4 w-100">
						<p><span>Email:</span> <a href="https://mail.google.com/mail/?view=cm&fs=1&to=maivubao08012002@gmail.com" target="_blank">econest@gmail.com</a></p>
					</div>
				</div>
				<div class="col-md-3 d-flex">
					<div class="info bg-white p-4 w-100">
						<p><span>Trang Web</span> <a href="https://econestxomuop.id.vn">EcoNest</a></p>
					</div>
				</div>
			</div>
			<div class="row justify-content-center mt-4">
				<div class="col-md-12">
					<div class="ftco-section img" style="background-image: url('/img/bg_3.jpg'); border-radius: 10px;">
						<div class="container">
							<div class="row justify-content-end">
								<div class="col-md-6 heading-section ftco-animate deal-of-the-day ftco-animate">
									<span class="subheading">Giá Tốt Nhất</span>
									<h2 class="mb-4">Giảm Giá Hàng Ngày</h2>
									<p>Nhanh tay nào, số lượng có hạn</p>
									<h3><a href="~/Shop/ProductDetails?id=922c78cd-529c-4ecd-961a-3411af81cad2">Bông tắm giọt nước</a></h3>
									<span class="price">70.000VNĐ <a href="">Bây giờ chỉ còn 50.000VNĐ</a></span>
									<div id="timer" class="d-flex mt-5">
										<div class="time pl-3" id="hours"></div>
										<div class="time pl-3" id="minutes"></div>
										<div class="time pl-3" id="seconds"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	<section class="ftco-section">
		<div class="container">
			<div class="row no-gutters ftco-services">
				<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services mb-md-0 mb-4">
						<div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
							<span class="flaticon-shipped"></span>
						</div>
						<div class="media-body">
							<h3 class="heading">Miên phí vận chuyển</h3>
							<span>Với những đơn hàng từ 100k</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services mb-md-0 mb-4">
						<div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
							<span class="flaticon-box"></span>
						</div>
						<div class="media-body">
							<h3 class="heading">Đóng gói tiện lợi</h3>
							<span>Sản phẩm sạch đẹp</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services mb-md-0 mb-4">
						<div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
							<span class="flaticon-award"></span>
						</div>
						<div class="media-body">
							<h3 class="heading">Chất lượng</h3>
							<span>Sản phẩm tự nhiên</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services mb-md-0 mb-4">
						<div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
							<span class="flaticon-customer-service"></span>
						</div>
						<div class="media-body">
							<h3 class="heading">Hỗ Trợ</h3>
							<span>Hỗ Trợ 24/7</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>




</body>
